.textAreaPost {
    width: 500px;
    height: 130px;
    resize: none;
}

.newPost textarea {
    background-color: #fbffe3;
    border-color: #f6a7fa;
    padding: 10px;
}

.newPost textarea::-webkit-scrollbar {width:0px;}

