.textAreaPost {
    width: 500px;
    height: 120px;
    resize: none;
}

.newPost textarea {
    background-color: #fbffe3;
    border-color: #f6a7fa;
    padding: 10px;
}

.newPost textarea::-webkit-scrollbar {width:0px;}

.postButton {
    margin-top: 10px;
    width: 100px;
    height: 25px;
    border: solid 2px #ffccff;
    font-weight: bold;
    text-align: center;
}

.postButton:hover {
    border: solid 3px #ffccff;
    background-color: bisque;
}

