.app-wrapper {
    font-family: oblique;
    max-width: 1400px;
    display: grid;
    grid-template-rows: 70px 1fr;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: block;
    background-color: aquamarine;
}

.app-wrapper-content-navbar {
    display: grid;
    grid-template-columns: 90px 1fr;
}

.navbar {
    display: block;
    background-color: #ffccff;
    padding-left: 10px;
    padding-top: 20px;
}

.content {
    display: block;
    background-color: lightgoldenrodyellow;
    padding: 50px 50px 25px 50px;
}








