.app-wrapper {
    display: grid;
    grid-template-row: 70px 1fr;
    font-family: oblique;
    max-width: 1400px;
}

.header {
    background-color: aquamarine;
    display: flex;
}

.app-wrapper-content-navbar {
    display: grid;
    grid-template-columns: 90px 1fr;
}

.navbar {
    display: flex;
    background-color: #ffccff;
    padding-left: 10px;
    padding-top: 10px;
    height: 100%;
}

.content {
    background-color: lightgoldenrodyellow;
    padding: 50px;
}








