header img {

}

.logo {
    border: black solid 3px;
    font-size: 24px;
    text-align: center;
    max-width: 150px;
    font-family: fantasy;
    position: relative;
    left: 10px;
    top: 10px;
    padding: 10px;
}

.loginButtons {
    display: inline-flex;
    cursor: pointer;
}

.loginBar {
    display: inline-flex;
    position: absolute;
    right: 30px;
    top: 25px;
}

.logout {
    margin-left: 30px;
}
