header img {

}

.header {

}

.logo {
    border: black solid 3px;
    font-size: large;
    width: 120px;
    height: 40px;
    font-family: fantasy;
    position: absolute;
    left: 10px;
    top: 10px;
}

.logoText {
    width: 110px;
    height: 20px;
    display: block;
    margin-top: 10px;
    margin-left: 5px;
}

.login {
    position: absolute;
    right: 30px;
    top: 25px;
}
