.postAvatar img {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    border: 2px lightpink solid;
}

.post {
    width: 500px;
    border: solid 2px pink;
}

.postAvatar {

}

.postBody {
    display: inline-flex;
    border: 1px black solid;
}